<div class="modal-header">
  <h3 data-i18n="dialog.edit_vcenter.title"></h3>
</div>
<div class="modal-body">
<label>
vCenter User: <input type="text" id="vc_user" value="<%- vcenter.user %>">
</label>
<label>
vCenter Password: <input type="text" id="vc_password" value="<%- vcenter.password %>">
</label>
<label>
vCenter Cluster Name: <input type="text" id="vc_cluster" value="<%- vcenter.cluster %>">
</label>
<label>
vCenter Datastore RegEx: <input type="text" id="vc_regex" value="<%- vcenter.regex %>">
</label>
<label>
Default Gatawey for Instances: <input type="text" id="vc_gwip" value="<%- vcenter.gw_ip %>">
</label>
</div>
<div class="modal-footer">
  <button data-i18n="common.apply_button" class="btn btn-success btn-apply"></button>
  <button class="btn node-modal-close" data-dismiss="modal" data-i18n="dialog.show_node.close_button"></button>
</div>
